.header{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: calc(100vh - 102px);
    padding: 4rem 3rem;
    padding-bottom: 60px;
}
.header__hero{
    margin: 0.5rem 0.5rem 1rem 3rem;
    padding: 1rem;
    flex: 1;
    font-family: var(--font-family);
   
    
}

.header_hero-text  h2{
    font-size: 50px;
    font-family: var(--font-family);
    font-weight: 600;
    color: transparent;
}
.header_hero-text p{
    color:var(--color-text);
    margin: 1rem 0;
    line-height: 25px;
}

.header__email{
    width: 100%;
    display: flex;
    margin:  1rem 0;
    
    
}
.header__email input{
    flex: 1;
    width: 100%;
    /* line-height: 25px; */
    font-size: 16px;
    padding: 1rem;
    outline: none;
    border: none;
    background-color:#052D56;
    color: #fff;
}
.email__button{
    color:#fff ;
    background-color: var(--color-button);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
}
.header__people{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}
.header__people p{
    color:var(--color-text);
    align-self: center;
    margin: 0 0.5rem;
    font-size: 14px;
}
.header__img{

    flex: 1;
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;
    align-items: center;
}
.header__img img{
    width: 100%;
   
   
}
@media screen and (max-width:950px){
    .header_hero-text  h2{
        font-size: 40px;
    }

    
}
@media screen and (max-width:850px){
    .header_hero-text  h2{
        font-size: 32px;
    }

    
}
@media screen and (max-width:700px){
   .header{
       flex-direction: column-reverse;
       padding-bottom: 150px;
   }
   .header__img{
       padding-top: 100px;
   }
   .header__img img{
    max-width: 50%;
    
    }
    .header__people{
        justify-content: center;
        align-items: center;
    }
}
